<div class="horizontal-carousel pt-3">
  <% products.each do |product| %>
    <div class="carousel-item-container">
      <div class="product-list-box">
        <%= link_to product_path(product), class: "text-decoration-none text-black" do %>
          <%# Image %>
          <div class="product-list-image mx-auto d-flex flex-column justify-content-center align-items-center">
            <%= image_tag product.image_url %>
          </div>
          <%# Name %>
          <p class="fs-4 plus-jakarta-sans-bold my-3">
            <%= product.name.truncate(45) %>
          </p>
        <% end %>
        <%# Rating %>
        <div class="star-rating mb-3">
          <%= star_rating(product.rating_rate) %>
          <span class="ms-1"><%= product.rating_rate %>/5</span>
        </div>
        <%# Price %>
        <p class="product-list-price plus-jakarta-sans-bold"><%= number_to_currency(product.price) %></p>
      </div>
    </div>
  <% end %>
</div>