<div class="container my-4">
  <div class="d-flex justify-content-between mb-4">
    <%# Current category text %>
    <% if params[:category].present? %>
      <h3 class="category-text montserrat-normal p-2"><%= (params[:category]).capitalize %></h3>
    <% else %>
      <h3 class="category-text montserrat-normal p-2">All Products</h3>
    <% end %>
    <%# Dropdown menu for category %>
    <div class="dropdown category-button mt-2">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu dropdown-menu-end p-3">
        <%= link_to products_path, class: "text-decoration-none text-black" do %>
          <li class="category-button-list mt-3 p-2 mb-3">All</li>
        <% end %>
        <% @categories.each do |category| %>
          <%= link_to products_path(category: category), class: "text-decoration-none text-black" do %>
            <li class="category-button-list p-2 mb-3"><%= category.capitalize %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <%# Products display %>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="product-list-box">
          <%= link_to product_path(product), class: "text-decoration-none text-black" do %>
            <%# Image %>
            <div class="products-image mx-auto d-flex flex-column justify-content-center align-items-center">
              <%= image_tag product.image_url %>
            </div>
            <%# Name %>
            <p class="product-list-name plus-jakarta-sans-bold my-3">
              <%= product.name.truncate(45) %>
            </p>
          <% end %>
          <%# Rating %>
          <div class="star-rating mb-3">
            <%= star_rating(product.rating_rate) %>
            <span class="ms-1"><%= product.rating_rate %>/5</span>
          </div>
          <%# Price %>
          <p class="products-price plus-jakarta-sans-bold"><%= number_to_currency(product.price) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>