<div class="container my-4">
  <div class="d-flex justify-content-between mb-4">
    <%# Current category text %>
    <% if params[:category].present? %>
      <h3 class=" category-text p-2"><%= (params[:category]).capitalize %></h3>
    <% else %>
      <h3 class="category-text p-2">All Products</h3>
    <% end %>
    <%# Dropdown menu for category %>
    <div class="dropdown secondary-button mt-2">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu dropdown-menu-end p-3">
        <%= link_to products_path, class: "product-name" do %>
          <li class="secondary-button-list p-1">All</li>
        <% end %>
        <% @categories.each do |category| %>
          <%= link_to products_path(category: category), class: "product-name" do %>
            <li class="secondary-button-list p-1"><%= category.capitalize %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <%# Products display %>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-4 mb-4 mx-1">
        <%= link_to product_path(product), class: "products-link" do %>
          <div class="">
            <%# Image %>
            <div class="products-image mx-auto d-flex flex-column justify-content-center align-items-center">
              <%= image_tag product.image_url %>
            </div>
            <div class="">
              <%# Name %>
              <h2 class="product-name"><%= product.name.truncate(45) %></h2>
              <%# Rating %>
              <div class="star-rating">
                <%= star_rating(product.rating_rate) %>
                <span class="ms-1"><%= product.rating_rate %>/5</span>
              </div>
              <%# Price %>
              <p><%= number_to_currency(product.price) %></p>
              <%# Category %>
              <p><%= product.category.capitalize %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>