<h1>Testing with params for each category</h1>
<div class="p-5">
  <p><%= link_to @product.category.capitalize, products_path(category: @product.category) %></p>
  <p><%= @product.name%></p>
  <img src="<%= @product.image_url %>" alt="product image">
  <p><%= @product.description %></p>
  <p><%= @product.price %>$</p>
</div>
<div>
  <%= button_to "Add to cart", cart_items_path(product_id: @product.id), method: :post, class: "btn btn-primary" %>
</div>
<div class="p-5">
  <%= link_to "View Cart", cart_path%>
</div>